<html xmlns:th="http://www.thymeleaf.org/">
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">


  <title>Consulta</title>
</head>
<body>
<div class="container">
  <div class="mx-auto center-title">
    <h1>Search your Marvel Hero!</h1>
  </div>
  <form id="heroes" method="GET" action="http://localhost:8080/characters/">
    <div class="row">
      <div class="col-2">
        <input type="text" class="form-control" placeholder="ID" id="heroId">

      </div>
      <button type="submit" class="btn btn-primary">Search</button>

    </div>
    <label class="errorMessage" id="errorMessage">Error Message</label>
    <div class="row mt-2">

      <div class="col">
        <label class="mt-2 font-weight-bold">Name</label>
        <input type="text" class="form-control" id="heroName" placeholder="Name" disabled="disabled">
        <label class="mt-2 font-weight-bold">Updated Date</label>
        <input type="text" class="form-control" id="heroModified" placeholder="Updated Date" disabled="disabled" >
        <label class="mt-2 font-weight-bold">Description</label>
        <textarea name="textarea"  class="form-control" rows="6" cols="30" id="heroDescription"></textarea>
      </div>

      <div class="col">
        <img id="heroImg" src="https://carolinadojo.com/wp-content/uploads/2017/04/default-image.jpg" alt="Hero Image" class="img-size">
      </div>

    </div>
  </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>